.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: 10px;
    border: none;

    &:hover,
    &:focus {
        cursor: url(../images/svg/cursor.svg), pointer;
        background-color: $button-hover;
    }
    
    &:focus {
        color: $primery-text-color;
        fill: $primery-text-color;
    }
}

.button__icon {
    margin-left: 4px;
}

.button--yellow {
    width: 152px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: $color-logo;
}

.button__mobile-menu {
    display: block;
    margin: 0 auto;
    margin-top: 110px; 

    @media screen and (min-width: 480px) {
        margin-top: 114px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.button__menu {
    @media screen and (max-width: 767px) {
         display: none;
    }
}

