$primery-color: #84A178;
$color-logo: #F8D24E;
$product-cart-color1: #AEC6A5;
$product-cart-color2: #EFD478;
$product-cart-color3: #D6936D;
$primery-text-color: #FCFCFC;
$secondery-text-color: #131313;
$caloric-color: #9CBE8F;
$button-hover: #0A8817;