.footer {
    min-width: 320px;
}

.footer__conteiner {
    box-sizing: border-box;
    color: $primery-text-color;

}

.footer__main {
    padding-top: 60px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
}

.footer__owerlay {
    @media screen and (min-width: 768px) {
         display: inline-flex;
        flex-direction: column;
    }
   
}

.footer__owerlay:nth-child(2) {
    @media screen and (min-width: 768px) {
        align-items: flex-end;
    }
}


.footer__title {
    width: 234px;
    font-weight: 700;
    font-size: 18px;
    
    @media  screen and (max-width: 767px) {
        line-height: 1;
    }

    @media screen and (min-width: 768px) {
        width: 352px;
        font-size: 26px;
    }
}


.footer__big-title {
    width: 234px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 34px;

    @media screen and (max-width: 767px) {
            line-height: 1;
        }

    @media screen and (min-width: 768px) {
        font-size: 48px;
        letter-spacing: 0.05em;
    }
}

.footer__social-list {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 142px;
    height: 34px;
    margin-top: 60px;

    @media screen and (max-width: 479px) {
        margin-left: 138px;   
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        margin-left: 298px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 61px;
        margin-bottom: 34px;
    }
}

.social-list__link {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F8D24E;
}

.social-list__link:hover > .social-list__icon,
.social-list__link:focus > .social-list__icon{
    fill: $primery-text-color;
}

.social-list__icon {
    fill: #84A178;
}

.footer__comunication {
    text-align: end;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: #131313;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        display: block;
        width: 285px;
        font-size: 14px;
    }
}

.footer__comunication a {
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

.footer__copyright {
    box-sizing: border-box;
    padding: 20px 0px 20px;
    text-align: center;

    @media screen and (min-width: 480px) {
        padding-bottom: 24px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding: 12px 203px;
    }
}

.copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: #7A7A7A;
}