.header-hero {
    box-sizing: border-box;
    min-width: 320px;
    position: relative;
    height: 520px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        height: 415px;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
    }
}

.header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 40px;

    @media screen and (min-width: 480px) {
        width: 48px;
    }

    @media screen and (min-width: 1200px) {
        width: 60px;
    }
}

.navigation {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;

    @media screen and (min-width: 480px) {
        padding-top: 104px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 444px;
        justify-content: space-between;
    }
}

.navigation__item:not(:last-child) {
    margin-bottom: 32px;
}

.header-menu__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    color: $primery-text-color;

    &:hover,
    &:focus {
        color: #131313;
    }

    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: $primery-text-color;
    }
}

.hero {
    width: 100%;
    height: max-content;
}

.hero__info {
        margin-top: 50px;
    
    @media screen and (min-width: 480px) {
        margin-top: 40px;
    }
    
    @media screen and (min-width: 768px) {
        margin-top: 14px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-top: 45px;
    }
}

.hero__title {
    width: 247px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primery-text-color;
    margin-bottom: 32px;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1200px) {
        width: 367px;
        margin-bottom: 28px;
        font-size: 38px;
    }
}

.hero__title--bold {
    font-size: 34px;
    line-height: 0.96;
}

.menu__list {
    display: flex;
    align-items: baseline;
}

.menu__item {
    &:not(:last-child) {
            margin-right: 12px;
        }
}

.menu__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    color: $color-logo;
    text-decoration: underline;

    &:not(:last-child) {
        margin-right: 12px;
    }
}

.menu__link:hover {
    color: $button-hover;
}

.menu__link:focus {
    color: $primery-text-color;
}

.menu__link--btn {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 11px 26px;
    border: 2px solid $color-logo;
    border-radius: 8px;
}

.menu__link--btn:hover,
.menu__link--btn:focus {
    border: 2px solid $button-hover;
}

.info__list {
    opacity: 0;

    @media screen and (min-width: 768px) {
        opacity: 1;
        text-align: end;
    }
}

.info__item{
    &:not(:first-child) {
        margin-bottom: 16px;
    }
}

.info__txt {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }    
}

.info__txt--bold {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    @media screen and (min-width: 1200px) {
        font-size: 48px;
    }
}

.hero__feature {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        width: 139px;
        margin-top: 39px;
        margin-left: 216px;
    }

    @media screen and (min-width: 1200px) {
        width: 200px;
        margin-top: 109px;
        margin-left: 257px;
    }
}

.feature__text {
    color: $primery-text-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 24px;
    }
}

.feature__icon {
    display: block;
    fill: $primery-text-color;
}

.hero__img--points {
    position: absolute;
    width: 320px;
    height: 49px;
    right: 0;
    bottom: 0;

    @media screen and (min-width: 480px) {
        width: 321px;
        height: 52px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 68px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 383px;
    }
}

.hero__img--horn {
    position: absolute;
    width: 177px;
    height: 217px;
    right: 60px;
    bottom: 0;

    @media screen and (min-width: 480px) {
            width: 218px;
            height: 267px;
            left: 242px;
        }
    
        @media screen and (min-width: 768px) {
            width: 268px;
            height: 329px;
            left: 408px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 456px;
            height: 560px;
            left: 652px;
        }
}

.hero__img--plate {
    position: absolute;

    @media screen and (max-width: 767px) {
        opacity: 0;
    }

    @media screen and (min-width: 768px) {
        width: 152px;
        height: 152px;
        left: 16px;
        bottom: 12px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 225px;
        height: 225px;
        left: 32px;
        bottom: 65px;
    }
}