.menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

        &.is-open {
            position: absolute;
            right: 20px;
        }

    @media screen and (min-width: 768px) {
        margin-left: 440px;
        margin-right: 32px;

        
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.menu__icon {
    fill: $primery-color;
    z-index: 99;
}

.menu__close {
    fill: white;
    
    .menu__button & {
        display: none;
    }

    .menu__button.is-open & {
        display: block;
    }
}

.menu__button.is-open .menu__open {
    display: none;
}


.menu__container {
    background-color: $primery-color;
    height: 568px;
    display: none;
    box-sizing: border-box;
    position: absolute;
    left: 100%;
    display: none;
    

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.menu__container.is-open {
    box-sizing: border-box;
    position: absolute;
    padding-top: 57px;
    top: 0;
    
    transform: translate(-100%, 0px);
    border: 1px solid tomato;
    display: block;
    width: 100vw;
    z-index: 3;

    @media screen and (min-width: 480px) {
        padding-top: 52px;
        height: 600px;
    }

    @media screen and (min-width: 768px) {
        height: 972px;
        padding-top: 140px;
    }

}

