.mobile-menu__open {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }
   
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu {
    background-color: $primery-color;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 100px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.34, .19, .11, .99);
    
    @media screen and (min-width: 480px) {
        padding-top: 104px;
    }
    
    @media screen and (min-width: 768px) {
        padding-top: 140px;
    }    

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
    position: absolute;
}

.icon__mobile-menu {
    fill: #FCFCFC;
}

.mobile-menu__close {
    position: fixed;
    top: 16px;
    right: calc((100% - 268px) / 2);
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 480px) {
        top: 20px;
        right: calc((100% - 440px) / 2);
    }

    @media screen and (min-width: 768px) {
        top: 32px;
        right: calc((100% - 704px) / 2);
    }
}

.mobile-menu__navigation {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.menu-navigation__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 40px;
    }
}

.menu-navigation__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: $primery-text-color;

    @media screen and (min-width: 768px) {
        font-size: 48px;    
    }

    &:hover,
    &:focus {
        color: #131313;
    }
}