.reviews {
    min-width: 320px;
}

.reviews__conteiner {
    box-sizing: border-box;
    position: relative;
    height: 1054px;
    margin: 0 auto;
    padding-top: 174px;

    @media screen and (min-width: 480px) {
        height: 1110px;
        padding-top: 235px;
    }

    @media screen and (min-width: 768px) {
        height: 1017px;
        padding-top: 283px;
    }

    @media screen and (min-width: 1200px) {
        height: 1053px;
        padding-top: 464px;
    }

}

