.advantages {
    min-width: 320px;
}

.advantages__conteiner {
    box-sizing: border-box;
    padding-top: 50px;
    color: $primery-text-color;

    @media screen and (min-width: 480px) {
        padding-top: 60px;
    }
}

.advantages__list {
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 32px;

    @media screen and (max-width: 767px)  {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: row;
        width: 616px;
        gap: 80px;
    }

    @media screen and (min-width: 1200px) {
       width: 1168px;
    }
}

.advantages__item {
    margin: 0 auto;
     width: 230px;

    &:not(:last-child) {
        @media screen and (max-width: 379px) {
            margin-bottom: 28px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 152px;
        height: 241px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 225px;
    }
}

.advantages__item::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

.advantages__item:first-child:before {
    background-image: url('../images/cow.png');
}

.advantages__item:nth-child(2):before {
    background-image: url('../images/weight.png');
}

.advantages__item:last-child:before {
    background-image: url('../images/icecrema.png');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .advantages__item:first-child:before {
        background-image: url('../images/cow@2x.png');
        background-size: cover;
    }

    .advantages__item:nth-child(2):before {
        background-image: url('../images/weight@2x.png');
        background-size: cover;
    }

    .advantages__item:last-child:before {
        background-image: url('../images/icecrema@2x.png');
        background-size: cover;
    }
}

.advantages__number {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}

.advantages__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.62;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;
    }
}