.reviews {
    box-sizing: border-box;
    position: relative;
    min-width: 320px;
    height: 1054px;
    margin: 0 auto;
    padding-top: 180px;
    background: url('../images/background_image/background_mob-reviews@1x.png') white;
    background-repeat: no-repeat;
    background-size: cover;
}

