.gallery {
    box-sizing: border-box;
    position: relative;
    min-width: 320px;
    height: 73px;

    @media screen and (min-width: 480px) {
        height: 81px;
    }
}

.gallery__slideshow {
    
    position: absolute;
    top: 32px;
    left: 20px;
    height: 130px;
    overflow: hidden;
    z-index: 99;
    width: calc(100% - 40px);
    overflow: hidden;
    height: 130px;
    border-radius: 8px;

    @media screen and (min-width: 480px) {
        height: 204px;
    }
    
}

.gallery__item {
    position: absolute;
    width: 100%;
    z-index: 99;
    opacity: 0;
    border-radius: 8px;
    animation: slideanim 30s infinite;
}

.gallery__img {
    display: block;
    height: 130px;
    width: 100%;
    object-fit: cover;
    animation: zoom 20s infinite;

    @media screen and (min-width: 480px) {
            height: 204px;
    }
}

.gallery__item--01 {
    animation-delay: 0s;
}

.gallery__item--02 {
    animation-delay: 10s;
}

.gallery__item--03 {
    animation-delay: 20s;
}


@keyframes slideanim {
    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }
}

@keyframes zoom {
    50% {
        transform: scale(1.1);
    }
}


