.about {
    min-width: 320px;
}

.about__conteiner {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    color: $primery-text-color;
    padding-top: 61px;

    @media screen and (min-width: 480px) {
        padding-top: 60px;
    }
}

.about__label {
    display: block;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        font-weight: 800;   
        font-size: 22px;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;   
    }
}

.about__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        width: 200px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 72px;
        font-size: 34px;
        line-height: 1.25;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 72px;
    }
}

.about__wrap {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__wrap-img {
    @media screen and (min-width: 768px) {
        display: flex;
        height: 356px;
        align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
        height: 529px;
    }
}

.about__wrap-column {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 336px;
        margin-left: 38px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        margin-left: 109px;
    }
}

.img__cover {
    position: relative;
    width: 279px;
    height: 278px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, 
        rgba(248, 210, 78, 0.7), 
        rgba(217, 217, 217, 1));
    box-shadow: 0px 5.31px 19.91px 0px rgba(153, 114, 23, 0.25);

    @media screen and (max-width: 767px) {
        
        margin: 0 auto;
        margin-bottom: 62px;
    }

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
        align-items: flex-start; 
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
    }
}

.about__img {
    display: block;
    width: 279px;
    height: 278px;
    position: absolute;
    left: 0;
    bottom: -22px;

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
        top: 26px;
        left: 0;   
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
        top: 39px;
    }
}

.about__info {
    @media screen and (max-width: 767px) {
        width: 220px;
        height: 305px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 28px;
    }
    
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        width: 336px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 54px;
        width: 463px;
    }
}

.about__text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.62;

    @media screen and (min-width: 768px) {
        text-align: start;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.94;
    }

    &:first-child {
        @media screen and (max-width: 767px) {
            line-height: 1.76;
            letter-spacing: 0.04em;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.76;
        }
    }

    &:last-child {
        @media screen and (min-width: 768px) {
            line-height: 1.94;
        }
    }

    &:not(:last-child) {
        margin-bottom: 4px;

        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
        }
    }
}

.about__button {
    width: 164px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
}