.reviews {
    box-sizing: border-box;
    position: relative;
    min-width: 320px;
    height: 1054px;
    margin: 0 auto;
    padding-top: 174px;

    @media screen and (min-width: 480px) {
        height: 1110px;
        padding-top: 235px;
    }
}

