.contacts__conteiner {
    position: relative;
    box-sizing: border-box;
    min-width: 320px;
    height: 1035px;
    color: #131313;

    @media screen and (min-width: 768px) {
        height: 320px;
        display: flex;
        justify-content: center;
    }
}

.contacts__list {
    position: absolute;
    top: -353px;
    left: 20px;
    width: calc(100% - 40px);

    @media screen and (min-width: 480px) {
        left: 100px;
        width: calc(100% - 200px);
    }

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        top: -299px;
        left: 32px;
        width: 704px;
        display: flex;
    }
}

.contacts__item {
    box-sizing: border-box;
    height: 412px;
    padding-left: 32px;
    padding-top: 40px;
    background-color: $primery-text-color;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 537px;
        padding-left: 24px;
        padding-top: 44px;
        
    }
}

.contacts__item:not(:first-child) {
    @media screen and (min-width: 768px) {
            margin-left: 8px;
        }
}

.contacts__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
    
}

.contacts__type {
    display: block;
    box-sizing: border-box;
    width: max-content;
    height: 22px;
    padding: 4px 22px;
    margin-bottom: 20px;
    background-color: $color-logo;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        height: 30px;
        margin-bottom: 32px;
        padding: 4px 13px;
        font-size: 16px;
        line-height: 1.4;
    }
}

.contacts__town {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

.contacts__adress {
    display: block;
    box-sizing: border-box;
    width: 212px;
    height: 40px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: rgba(214, 147, 109, 1);

    @media screen and (min-width: 768px) {
        width: 173px;
        height: 71px;
        font-size: 14px;
        letter-spacing: 0.04em;
    }
}

.contacts__border {
    width: 216px;
    margin-left: 0;

    @media screen and (min-width: 768px) {
        width: 176px;
        text-align: center;
    }
}

.contacts__timetable {
    margin: 24px 0px 24px;

    @media screen and (min-width: 768px) {
        margin: 32px 0px 32px;
    }
}

.timetable__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

.timetable__item span {
    color: #ABABAB;
}

.timetable__item:not(:last-child) {
    margin-bottom: 8px;
}

.contacts__communication {
    margin-top: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        font-size: 14px;
        line-height: 1.5;
    }
}

.contacts__communication a {
    color: inherit;
}

.contacts__communication > li:not(:last-child) {
    margin-bottom: 6px;
}

.contacts__button {
    
    width: 196px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.05;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
            margin-top: 278px;
        }

}

.contacts__button--yellow {
    
    @media screen and (max-width: 767px) {
        margin-top: 935px;
         margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
   
}