.products {
    box-sizing: border-box;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.products__label {
   font-weight: 800;
   font-size: 18px;
   line-height: 1.2;
   text-transform: uppercase;
   color: #131313;
}

.products__title {
    margin-top: 12px;
    margin-bottom: 40px;
    font-family: Seymour One;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #131313;

    @media screen and (min-width: 480px) {
        margin-bottom: 46px;
    }
}

.products__set {
    width: 280px;
    padding: 0;
    margin: 0 auto;
    list-style: none;

    @media screen and (min-width: 480px) {
        width: 320px;
    }

    // @media screen and (min-width: 768px) {
    //     display: flex;
    //     gap: 30px;
    // }
    
}

.products__card {
    position: relative;
    box-sizing: border-box;
    padding-top: 123px;
    width: 280px;
    height: 528px;

    @media screen and (min-width: 480px) {
        width: 320px;
        height: 536px;
    }
}

.products__card:not(:last-child) {
    margin-bottom: 60px;
}

.products__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    height: 211px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-width: 480px) {
        left: 60px;
    }
}

.ice-cream::before {
    background-image: url('../images/ice_cream-200.png');
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.coffe::before {
    background-image: url('../images/coffe-200.png');
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.milkshake::before {
    background-image: url('../images/milkshake-200.png');
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .ice-cream::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/ice_cream-200@2x.png');
        }  
    }
    
    .coffe::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/coffe-200@2x.png');
        }
    }
    
    .milkshake::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/milkshake-200@2x.png');
        }
    }
}

.products__info {
    height: 420px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 24px;
    padding-top: 123px;

    @media screen and (min-width: 480px) {
        height: 428px;
    }
}

.products__info--icecream {
    background-color: $product-cart-color1;
}

.products__info--coffe {
    background-color: $product-cart-color2;
}

.products__info--milkshake {
    background-color: $product-cart-color3;
}


.card__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.card__text {
    margin: 0 auto;
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.78;
    color: #131313;

    @media screen and (min-width: 480px) {
        line-height: 1.76;
    }
}

.products__info--icecream > .card__text {
    margin-bottom: 101px;

    @media screen and (min-width: 480px) {
        margin-bottom: 106px;
    }
}

.products__info--coffe > .card__text {
    margin-bottom: 53px;

    @media screen and (min-width: 480px) {
        margin-bottom: 61px;
    }
}

.products__info--milkshake > .card__text {
    margin-bottom: 56px;

    @media screen and (min-width: 480px) {
        margin-bottom: 81px;
    }
}

.card__button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 16px;
}

.card__button-icon {
    fill: #131313;
}




