.products {
    min-width: 320px
}

.products__conteiner {
    box-sizing: border-box;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: #131313;
}

.products__label {
   font-weight: 800;
   font-size: 18px;
   text-transform: uppercase;
   
   @media screen and (min-width: 768px) {
    font-size: 22px;
   }

   @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 0.04em;
   }
}

.products__title {
    margin-top: 12px;
    margin-bottom: 40px;
    font-family: Seymour One;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.25;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        margin-bottom: 46px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 80px;
        font-size: 34px;
        line-height: 1.25;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 120px;
        font-size: 36px;
        letter-spacing: 0.06em;
    }
}

.products__set {
    width: 280px;
    padding: 0;
    margin: 0 auto;
    list-style: none;

    @media screen and (min-width: 480px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 704px;
    } 

    @media screen and (min-width: 1200px) {
        width: 1168px;
    }
}

.products__card {
    position: relative;
    box-sizing: border-box;
    padding-top: 123px;
    width: 280px;
    height: 528px;
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 320px;
        height: 536px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 4 * 8px) / 3);
        height: 548px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 2 * 29px) / 3);
        height: 719px;
        padding-top: 183px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }

        @media screen and (min-width: 768px) {
            margin-right: 16px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 29px;
        }
    }
}

.products__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    height: 211px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    

    @media screen and (min-width: 480px) {
        left: 60px;
    }

    @media screen and (min-width: 768px) {
        left: 12px;
        height: 212px;
    }

    @media screen and (min-width: 1200px) {
        left: 34px;
        width: 302px;
        height: 318px;
    }
}

.products__card:first-child::before {
    background-image: url('../images/ice_cream-200.png');
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
           
}

.products__card:nth-child(2)::before {
    background-image: url('../images/coffe-200.png');
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__card:last-child::before {
    background-image: url('../images/milkshake-200.png');
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .products__card:first-child::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/ice_cream-200@2x.png');
        }  
    }
    
    .products__card:nth-child(2)::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/coffe-200@2x.png');
        }
    }
    
    .products__card:last-child::before {
        @media screen and (max-width: 1199px) {
            background-image: url('../images/milkshake-200@2x.png');
        }
    }
}

.products__info {
    box-sizing: border-box;
    height: 420px;
    border-radius: 24px;
    padding-top: 123px;
    padding-bottom: 16px;

    @media screen and (min-width: 480px) {
        height: 428px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 108px;
        padding-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
        height: 536px;
        padding-top: 165px;
        padding-bottom: 60px;
    }
}

.products__card:first-child .products__info {
    background-color: $product-cart-color1;
}

.products__card:nth-child(2) .products__info {
    background-color: $product-cart-color2;
}

.products__card:last-child .products__info {
    background-color: $product-cart-color3;
}

.card__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 66px;
        font-size: 30px;
    }
}

.card__text {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 201px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.78;

    @media screen and (min-width: 480px) {
        height: 206px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 768px) {
        width: 172px;
    }

    @media screen and (min-width: 1200px) {
        width: 246px;
        font-size: 16px;
    }
}

.card__button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 16px;

    &:hover {
        cursor: url(../images/svg/cursor.svg), pointer;
    }
}

.card__button-icon {
    fill: #131313;
}






